/* Reviews Section */

/* MOBILE */
.reviews-container-headline {
  color: #fff;
  font-family: DM Sans, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  padding-bottom: 38px;
}
.reviews-container {
  display: flex;
  gap: 20px;
}
.reviews-container-first {
  width: 335px;
  height: 244px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.reviews-container-info {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.reviews-container-img {
  border-radius: 50%;
}
.reviews-container-wrapper {
  margin-left: 5px;
}
.reviews-container-name {
  color: #fff;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  padding-top: 8px;
}
.reviews-container-work {
  color: rgba(255, 255, 255, 0.5);
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: -0.02em;
  padding-top: 4px;
}
.reviews-container-icon {
  margin-left: 64px;
  margin-top: 4px;
}
.reviews-container-list {
  display: flex;
}
.reviews-list-icon-star {
  fill: var(--c-primary);
}
.reviews-list-icon-star-5 {
  fill: #414141;
}
.reviews-container-comments {
  width: 295px;
  color: #fff;
  font-family: DM Sans, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: -0.053em;
  margin: 0 auto;
}
.reviews-container-second {
  display: none;
}

/* MEDIA TABLET */
@media screen and (min-width: 768px) {
  section {
    margin-bottom: 100px;
  }
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .reviews-container {
    justify-content: center;
    padding-top: 10px;
  }
  .reviews-container-headline {
    font-size: 48px;
    letter-spacing: -0em;
  }
  .reviews-container-first {
    width: 640px;
    height: 196px;
  }
  .reviews-container-info {
    flex-wrap: nowrap;
  }
  .reviews-container-name {
    padding-top: 6px;
  }
  .reviews-container-work {
    font-size: 14px;
    padding-top: 8px;
  }
  .reviews-container-icon {
    margin-left: 274px;
    margin-top: 1px;
  }
  .reviews-container-list {
    gap: 3px;
  }
  .reviews-container-comments {
    width: 600px;
    font-size: 17px;
    letter-spacing: -0.047em;
  }
}
/* MEDIA DESCTOP */

@media screen and (min-width: 1028px) {
  section {
    margin-bottom: 150px;
  }
  .container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .reviews-container-headline {
    color: #fff;
    font-family: DM Sans, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    padding-bottom: 40px;
  }
  .reviews-container-first {
    width: 530px;
    height: 216px;
  }
  .reviews-container-info {
    flex-wrap: nowrap;
  }
  .reviews-container-icon {
    margin-left: 164px;
  }
  .reviews-container-comments {
    width: 490px;
    font-size: 15px;
    line-height: 1.33;
    letter-spacing: -0em;
  }
  .reviews-container-second {
    display: flex;
    flex-wrap: wrap;
    width: 530px;
    height: 216px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .reviews-container-comments-second {
    width: 490px;
    font-size: 16px;
    letter-spacing: -0.02em;
    margin: 0 auto;
    padding-bottom: 15px;
  }
  .reviews-container-name-second {
    color: #fff;
    font-family: DM Sans, sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    padding-top: 8px;
  }
  .reviews-container-work-second {
    color: rgba(255, 255, 255, 0.5);
    font-family: DM Sans, sans-serif;
    font-size: 14px;

    padding-top: 8px;
  }
}
