.advertisement-container {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.advertisement-line {
  color: var(--c-primary);
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  padding-right: 20px;
  flex-shrink: 0;
  min-width: 100%;
  white-space: nowrap;
  animation-name: advertisement-line;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.advertisement-span {
  color: var(--c-brand);
}

@keyframes advertisement-line {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
