.courses-name {
  font-family: DM Sans;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}
.courses {
  color: var(--c-primary);
}
.courses-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}
.courses-list {
  list-style: none;
  counter-reset: my-counter;
}
.courses-li::before {
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  content: '0' counter(my-counter);
  counter-increment: my-counter;
}
.courses-li {
  padding: 28px;
  max-width: 335px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: var(--c-gradient);
  position: relative;
}
.courses-li:not(:last-child) {
  margin-bottom: 20px;
}
.courses-link {
  position: absolute;
  top: 28px;
  right: 28px;
  background-color: #1d1d1d;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.courses-svg {
  width: 20px;
  height: 20px;
  stroke: rgba(119, 119, 119, 1);
}

.courses-link-name {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  margin-top: 42px;
  margin-bottom: 164px;
}
.courses-link-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
}
