
.about-title{
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.04em;
    margin-bottom: 20px;
}
.about-span{
    color: var(--c-primary);
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.04em;;
}

.about-image{
    margin-bottom: 40px;
    border-radius: 1000px;
    margin-bottom: 40px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-text{
    width: 335px;
    font-size: 14px;
    line-height: 1.28; 
    /* letter-spacing: 0.02em; */
}

.about-text:not(:last-child){
    margin-bottom: 20px;
}


