
.about-title{
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.04em;
    margin-bottom: 40px;
}
.about-span{
    color: var(--c-primary);
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.04em;
}

.about-image{
    border-radius: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-move{
    margin-top: 40px;
}
.about-text{
    font-size: 14px; 
    line-height: 1.28; 
    letter-spacing: -0.02em; 
}

.about-text:not(:last-child){
    margin-bottom: 20px;
}


/* !!!!!!! Tablet site !!!!!!!!! */

@media screen and (min-width: 768px) {
    .container {
        min-width:  768px;
    }

.about-us{
    margin-left: 32px;
    margin-right: 32px;
    }  

.about-title{
    font-size: 48px;
    font-weight: 500;
    line-height: 1.12; 
    letter-spacing: 0.01em;
    margin-bottom: 50px;
    }

.about-span{
    font-size: 48px;
    font-weight: 500;
    line-height: 1.12;
    letter-spacing: 0.01em;
}

.about-move{
    margin-top: 50px;
    display: flex;
    gap: 20px;
    }

.about-text{
    width: 280px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.25; 
    letter-spacing: -0.02em;
    }
}

.about-text:not(:last-child){
    margin-bottom: 0px;
}

/* !!!!!!!!!!  Desktop site !!!!!!!!!!!!   */

@media screen and (min-width: 1280px){

    .container {
        min-width: 1280px;
    }    
    
    .about-us{
        margin-left: 100px;
        margin-right: 100px;
    }  
    
    .about-container{
        display: flex;
        gap: 40px;
    }
    
    .about-title{
        font-size: 48px;
        font-weight: 500;
        line-height: 1.12;
        letter-spacing: 0.02em;
    }
    
    .about-span{
        font-size: 48px;
        font-weight: 500;
        line-height: 54px;
        letter-spacing: 0.04em;
    }
    
    .about-move{
        margin-top: 0;
        gap: 20px;
    }
    
    .about-text{
        width: 268.2px;
    }
    
    .about-image{ 
        width: 488px;
        height: 260px;
        margin-bottom: 0;
    }
    
    }