<section class="hero">
  <div class="container hero-additional">
    <div class="hero-desk-wrap">
      <h1 class="hero-header">
        Discover the magic of
        <span class="hero-header-accent">photography</span> in our school
      </h1>
      <p class="hero-text-info">
        Our photography school offers an unforgettable journey, where you can
        learn the basics of composition, master technical skills, translate your
        unique ideas.
      </p>
      <div class="hero-student-review-wrap">
        <div class="hero-students-wrap">
          <ul class="hero-students-list">
            <li class="hero-students-li">
                <img
                width="44"
                height="44"
                class="hero-students-img"
                srcset="/img/section-hero/caitlyn.png    1x,
                /img/section-hero/caitlyn@2x.png 2x
                "
                src="/img/section-hero/caitlyn.png"
                alt="Student's photo -Caitlyn"
              /> 
            </li>
            <li class="hero-students-li">
              <img
                width="44"
                height="44"
                class="hero-students-img"
                srcset="/img/section-hero/jordan.png 1x, /img/section-hero/jordan@2x.png 2x"
                src="/img/section-hero/jordan.png"
                alt="Student's photo -Jordan"
              />
            </li>
            <li class="hero-students-li">
              <img
                width="44"
                height="44"
                class="hero-students-img"
                srcset="/img/section-hero/adriana.png 1x, /img/section-hero/adriana@2x.png 2x"
                src="/img/section-hero/adriana.png"
                alt="Student's photo -Adriana"
              />
            </li>
          </ul>
          <div class="hero-students-flex">
            <p class="hero-students-text">
              Our happy <br />
              students
            </p>
            <svg class="hero-arrow-svg" width="25" height="9">
              <use href="/img/icons.svg#icon-arrow-right"></use>
            </svg>
          </div>
        </div>
        <div class="hero-reviews-wrap">
          <svg class="hero-star-svg" width="20" height="20">
            <use href="/img/icons.svg#icon-star"></use>
          </svg>
          <ul class="hero-review-list">
            <li>
              <a href="#reviews-section" class="hero-reviews">Reviews</a>
            </li>
            <li>
              <p class="hero-number">+1500</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <picture>
      <source
        media="(min-width: 1280px)"
          srcset="
          /img/section-hero/photographer_desk.webp    1x,
          /img/section-hero/photographer_desk@2x.webp 2x
          "
          type="image/jpg"
          />
          <source
          media="(min-width: 768px)"
            srcset="
            /img/section-hero/photographer_tab.webp    1x,
            /img/section-hero/photographer_tab@2x.webp 2x
            "
            type="image/jpg"
            /> 
            <source
            media="(max-width: 767px)"
              srcset="
              /img/section-hero/photographer.webp    1x,
              /img/section-hero/photographer@2x.webp 2x
              "
              type="image/jpg"
              /> 
       <img
      class="hero-main-img"
      src="/img/section-hero/photographer.webp"
      alt="Photographer"
    /> 
    </picture>
  
  </div>
</section>
