<section class="reviews-section" id="reviews-section">
  <div class="container">
    <h2 class="reviews-container-headline">Reviews</h2>
    <div class="reviews-container">
      <div class="reviews-container-first">
        <div class="reviews-container-info">
          <div class="reviews-container-picture">
            <picture class="reviews-picture">
              <source
                media=""
                srcset="
                  ./img/section-reviews/abraham-baker.jpg    1x,
                  ./img/section-reviews/abraham-baker@2x.jpg 2x
                "
              />
              <img
                class="reviews-container-img"
                src="./img/section-reviews/abraham-baker.jpg"
                alt="Abraham Baker"
                width="56"
                height="56"
              />
            </picture>
          </div>

          <div class="reviews-container-wrapper">
            <h3 class="reviews-container-name">Abraham Baker</h3>
            <p class="reviews-container-work">Student</p>
          </div>

          <div class="reviews-container-icon">
            <ul class="reviews-container-list">
              <li class="reviews-list-icon">
                <svg class="reviews-list-icon-star" width="20" height="20">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
              </li>

              <li class="reviews-list-icon">
                <svg class="reviews-list-icon-star" width="20" height="20">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
              </li>

              <li class="reviews-list-icon">
                <svg class="reviews-list-icon-star" width="20" height="20">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
              </li>

              <li class="reviews-list-icon">
                <svg class="reviews-list-icon-star" width="20" height="20">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
              </li>

              <li class="reviews-list-icon">
                <svg class="reviews-list-icon-star-5" width="20" height="20">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>

        <div class="reviews-container-comments">
          I am very pleased that I decided to enroll in photography school. The
          teachers turned out to be very talented and experienced professionals
          who share their knowledge and are dedicated to their work. I was able
          to expand my skills and discover my own style.
        </div>
      </div>

      <div class="reviews-container-second">
        <div class="reviews-container-info">
          <div class="reviews-container-picture">
            <picture class="reviews-picture">
              <source
                media=""
                srcset="
                  ./img/section-reviews/amanda-lowery.jpg    1x,
                  ./img/section-reviews/amanda-lowery@2x.jpg 2x
                "
              />
              <img
                class="reviews-container-img"
                src="./img/section-reviews/amanda-lowery.jpg"
                alt="Amanda Lowery"
                alt=""
                width="56"
                height="56"
              />
            </picture>
          </div>

          <div class="reviews-container-wrapper">
            <h3 class="reviews-container-name">Amanda Lowery</h3>
            <p class="reviews-container-work">Student</p>
          </div>

          <div class="reviews-container-icon">
            <ul class="reviews-container-list">
              <li class="reviews-list-icon">
                <svg class="reviews-list-icon-star" width="20" height="20">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
              </li>

              <li class="reviews-list-icon">
                <svg class="reviews-list-icon-star" width="20" height="20">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
              </li>

              <li class="reviews-list-icon">
                <svg class="reviews-list-icon-star" width="20" height="20">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
              </li>

              <li class="reviews-list-icon">
                <svg class="reviews-list-icon-star" width="20" height="20">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
              </li>

              <li class="reviews-list-icon">
                <svg class="reviews-list-icon-star-5" width="20" height="20">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>

        <div class="reviews-container-comments">
          The courses at the photography school exceeded all my expectations. I
          gained not only technical knowledge, but also inspiration and
          motivation to reach new heights in my creativity. Hands-on classes and
          workshops helped me understand different styles of photography.
        </div>
      </div>
    </div>
  </div>
</section>
