<section class="our-mentors">
  <div class="container">
    <h2 class="mentors-title">Our <span class="mentors-title-accent">Mentors</span></h2>
    <ul class="mentors-list">
      <li class="mentors-list-item">
        <picture>
          <source media="" srcset="./img/section-our-mentors/emilia-smith.jpg 1x, ./img/section-our-mentors/emilia-smith@2x.jpg 2x">
          <img class="mentors-foto" src="./img/section-our-mentors/emilia-smith.jpg" alt="Emilia Smith" width="180" height="180">
        </picture>
        <div class="mentors-list-content">
          <h3 class="mentors-name">Emilia Smith</h3>
          <p class="mentors-experience">1.5 years of experience</p>
        </div>
      </li>
      <li class="mentors-list-item">
        <picture>
          <source media="" srcset="./img/section-our-mentors/alex-lebedev.jpg 1x, ./img/section-our-mentors/alex-lebedev@2x.jpg 2x">
          <img class="mentors-foto" src="./img/section-our-mentors/alex-lebedev.jpg" alt="Alex Lebedev" width="180"
            height="180">
        </picture>
        <div class="mentors-list-content">
          <h3 class="mentors-name">Alex Lebedev</h3>
          <p class="mentors-experience">3.5 years of experience</p>
        </div>
      </li>
      <li class="mentors-list-item">
        <picture>
          <source media="" srcset="./img/section-our-mentors/mia-dubrovska.jpg 1x, ./img/section-our-mentors/mia-dubrovska@2x.jpg 2x">
          <img class="mentors-foto" src="./img/section-our-mentors/mia-dubrovska.jpg" alt="Mia Dubrovska" width="180"
            height="180">
        </picture>
        <div class="mentors-list-content">
          <h3 class="mentors-name">Mia Dubrovska</h3>
          <p class="mentors-experience">2.0 years of experience</p>
        </div>
      </li>
      <li class="mentors-list-item">
        <picture>
          <source media="" srcset="./img/section-our-mentors/eliot-kovalev.jpg 1x, ./img/section-our-mentors/eliot-kovalev@2x.jpg">
          <img class="mentors-foto" src="./img/section-our-mentors/eliot-kovalev.jpg" alt="Eliot Kovalev" width="180"
            height="180">
        </picture>
        <div class="mentors-list-content">
          <h3 class="mentors-name">Eliot Kovalev</h3>
          <p class="mentors-experience">4.0 years of experience</p>
        </div>
      </li>
    </ul>
  </div>
</section>
