<section>
  <div class="container">

    <h2 class="about-title" id="about-us">About <span class="about-span">Us</span></h2>

    <div class="about-container">

        <picture>
          <source
          srcset="/img/section-about-us/camera-desktop.jpg 1x,
                  /img/section-about-us/camera-desktop@2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <source
          srcset="/img/section-about-us/camera-tablet.jpg 1x,
                  /img/section-about-us/camera-tablet@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/img/section-about-us/camera-mobile.jpg 1x,
                    /img/section-about-us/camera-mobile@2x.jpg 2x"
            media="(min-width: 320px)"
          />
          <img
            class="about-image"
            src="/img/section-about-us/camera.jpg"
            alt="camera"
            width="704"
            height="340"
          />
        </picture>

        <div class="about-move">
          <p class="about-text">Our photography school is designed to teach you everything you need to know about this
        magical art. Regardless of your experience or skill level, we offer a wide range of courses to suit your needs
        and interests. Our teaching team consists of experienced photographers who have many years of experience in this
        field. They strive not only to share their knowledge, but also to inspire you to develop and express your unique
        creativity.</p>
          <p class="about-text">Our courses cover a wide range of topics, from the basics of photography and equipment use
        to professional image processing and creating impressive compositions. You will have the opportunity to learn
        the technical aspects of photography, discover your own style and develop your own visual language.</p>
      </div>
    </div>
  </div>

</section>