<header class="header">
  <div class=" container header-container">
    <div class="header-info">
      <div class="header-info-nav">
        <svg class="header-icon-logo" width="123" height="16">
          <use href="/img/icons.svg#icon-logo"></use>
        </svg>
        <nav class="header-nav">
          <ul class="header-nav-up">
            <li a href="#" class="header-nav-list">about us</li>
            <li a href="#" class="header-nav-list">our courses</li>
            <li a href="#" class="header-nav-list">our mentors</li>
            <li a href="#" class="header-nav-list">reviews</li>
            <li a href="#" class="header-nav-list">contacts</li>
          </ul>
        </nav>
      </div>
      <div class="header-info-icon">
        <a href="#our-sign-up"> 
          <svg class="header-icon-camera" width="16" height="16">
            <use href="/img/icons.svg#icon-camera"></use>
          </svg>
        </a>
        <button class="header-button-nav">
          <svg class="header-icon-burger" width="32px" heigth="22px">
            <use href="/img/icons.svg#icon-burger"></use>
          </svg>
        </button>
      </div>
     </div>
     <button class="header-button" type="button">sign up</button>
  </div>

<!-- MENU -->


<div class="backdrop">
  <div class="modal">
    <button class="menu-close-button">
      <svg class="modal-lose-icon"
    aria-label="close icon"
    width="32"
    heidth="32">
        <use href="/img/icons.svg#icon-close">
        </use>
      </svg>
    </button>
    <nav class="header-nav-modal">
      <ul class="header-nav-up-modal">
        <li class="header-nav-list-modal">
          <a href="#" >
            about us
          </a>
        </li> 
        <li class="header-nav-list-modal">
          <a href="#">
            our courses
          </a>
        </li> 
        <li class="header-nav-list-modal">
          <a href="#" >
            our mentors
          </a>
        </li>
        <li class="header-nav-list-modal">
          <a href="#" >
            reviews
          </a>
        </li> 
        <li class="header-nav-list-modal">
          <a href="#" >
            contacts
          </a>
        </li> 
       
      </ul>
    </nav>
  </div>
  <div class="modal-camera">
    <picture>
    <source media="(min-width: 768px)" srcset="/img/section-header/camera-header.jpg 1x, /img/section-header/camera-header@2x.jpg 2x" type="image/jpg"> 
              <source media="(max-width: 767px)" srcset="/img/section-header/camera-header.jpg 1x, /img/section-header/camera-header@2x.jpg 2x" type="image/jpg"> 
         <img class="hero-main-img" src="/src/img/section-header/camera-header.jpg" alt="camera-header"> 
      </picture>
  </div>
</div>
</header>




