<header class="header">
  <div class="container header-container">
    <div class="header-info">
      <div class="header-info-nav">
        <svg class="header-icon-logo" width="123" height="16">
          <use href="/img/icons.svg#icon-logo"></use>
        </svg>
        <nav class="header-nav">
          <ul class="header-nav-up">
            <li class="header-nav-list">
              <a href="#about-us"> about us </a>
            </li>
            <li class="header-nav-list">
              <a href="#our-courses"> our courses </a>
            </li>
            <li class="header-nav-list">
              <a href="#our-mentors"> our mentors </a>
            </li>
            <li class="header-nav-list">
              <a href="#reviews"> reviews </a>
            </li>
            <li class="header-nav-list">
              <a href="#contacts"> contacts </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header-info-icon">
        <a href="#our-sign-up" class="header-icon-camera-a">
          <div class="header-icon-camera-container">
            <svg class="header-icon-camera" width="16" height="16">
              <use href="/img/icons.svg#icon-camera"></use>
            </svg>
          </div>
        </a>
        <button class="header-button-nav" data-modal-open>
          <svg class="header-icon-burger" width="32px" heigth="22px">
            <use href="/img/icons.svg#icon-burger"></use>
          </svg>
        </button>
      </div>
    </div>
    <button class="header-button" type="button">sign up</button>
  </div>
</header>
